body {
    background-color: #e3f2fd;
}

fieldset{
    width: 750px;
    margin: 10px auto;
    color: #444;
    border: 5px solid rgb(20, 141, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
   }
   
   h1{
    text-align: center;
   }
   
   p.sub-titulo{
    font-size: 20px;
   }
   
   .direita{
    text-align: right;
   }
   
   .center{
    text-align: center;
   }
